[submodule "lib/curve_mapping"]
	path = pose_driven_shape_keys/lib/curve_mapping
	url = https://github.com/jamesvsnowden/bl_curve_mapping.git
[submodule "lib/driver_utils"]
	path = pose_driven_shape_keys/lib/driver_utils
	url = https://github.com/jamesvsnowden/bl_driver_utils.git
[submodule "lib/transform_utils"]
	path = pose_driven_shape_keys/lib/transform_utils
	url = https://github.com/jamesvsnowden/bl_transform_utils.git
[submodule "lib/symmetry"]
	path = pose_driven_shape_keys/lib/symmetry
	url = https://github.com/jamesvsnowden/bl_symmetry.git
[submodule "pose_driven_shape_keys/lib/events"]
	path = pose_driven_shape_keys/lib/events
	url = https://github.com/jamesvsnowden/bl_addon_events.git
